body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

.error-message {
  background-color: yellow;
  padding: 10px;
}

.success-message {
  background-color: green;
  padding: 10px;
}

form.inline {
  display: inline!important;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}