<h1>Create a new user account</h1>

<form action="/users" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <label for="password_confirm">Confirm Password:</label>
    <input type="password" name="password_confirm">
  </div>
  <button type="submit">Create Account</button>
</form>